<%- include('../components/header') -%>

<script src="/scripts/quiz_steps.js"></script>

<h1 class="font-bold text-4xl my-6 text-gray-700 text-center">New Quiz</h1>

<div class="max-w rounded m-4 overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-2xl text-gray-700 mb-2">Name of the Quiz</div>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      placeholder="My first Quiz"
      value="<%= quiz.title %>"
    />
    <textarea
      class="autoexpand tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-gray-200 border border-gray-200 rounded focus:outline-none focus:bg-white"
      placeholder="Description of the Quiz"
    ><%= quiz.description %></textarea>

    <div class="font-bold text-2xl text-gray-700 mb-2">Questions</div>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      placeholder="Question"
    />

    <hr />

    <%- include('./question', {quizID: quiz.id}) -%>

    <div class="px-6 pt-4 pb-5 flex flex-col-reverse">
      <a
        href="/"
        class="self-end shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
      >
        Save Quiz
      </a>
    </div>
  </div>
</div>

<%- include('../components/footer') -%> <%- include('../components/footer') -%>
