<%- include('../components/header') -%>

<h1 class="font-bold text-4xl my-6 text-gray-700 text-center">
  <%= quiz.title %>
</h1>

<form id="form" action="/quiz/<%= quiz.id %>/submit" method="POST">
  <div class="max-w rounded m-4 overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <% quiz.questions.map((question, index) => { %>
      <div id="<%= `step-${index}` %>">
        <div class="font-bold text-2xl text-gray-700 mb-2">
          <%= question.title %>
        </div>
        <div class="flex flex-col">
          <label class="inline-flex items-center my-5">
            <input
              type="radio"
              class="form-radio h-6 w-6 text-teal-600"
              name="<%= `answer-${question.id}` %>"
              value="a"
            />
            <span class="ml-3 text-xl text-gray-700">
              <%= question.answers.a.content %>
            </span>
          </label>
          <label class="inline-flex items-center my-5">
            <input
              type="radio"
              class="form-radio h-6 w-6 text-teal-600"
              name="<%= `answer-${question.id}` %>"
              value="b"
            />
            <span class="ml-3 text-xl text-gray-700">
              <%= question.answers.b.content %>
            </span>
          </label>
          <label class="inline-flex items-center my-5">
            <input
              type="radio"
              class="form-radio h-6 w-6 text-teal-600"
              name="<%= `answer-${question.id}` %>"
              value="c"
            />
            <span class="ml-3 text-xl text-gray-700">
              <%= question.answers.c.content %>
            </span>
          </label>
          <label class="inline-flex items-center my-5">
            <input
              type="radio"
              class="form-radio h-6 w-6 text-teal-600"
              name="<%= `answer-${question.id}` %>"
              value="d"
            />
            <span class="ml-3 text-xl text-gray-700">
              <%= question.answers.d.content %>
            </span>
          </label>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="px-6 pt-4 pb-5 flex flex-col-reverse">
      <span
        id="next-button"
        class="self-end shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
      >
        Next
      </span>
    </div>
  </div>
</form>

<script src="/scripts/quiz_steps.js"></script>
<script>
  quizSteps(<%- quiz.questions.length %>);
</script>
<%- include('../components/footer') -%>
